In [1]:
#Saturated Oxygen Data Correction

In [9]:
#This is to import libraries of different functions that allows the program do what it's doing
%pylab inline
from netCDF4 import Dataset
import pandas as pd
from pandas import Series , DataFrame
import csv
from IPython.core.display import Image
import urllib2
import StringIO
from thredds_crawler.crawl import Crawl

Populating the interactive namespace from numpy and matplotlib

In [2]:
data = urllib2.urlopen("http://argo.jcommops.org/FTPRoot/Argo/Status/argo_all.txt").readlines()
data[1].replace('\0' , '').replace('\xff' , '').replace('\xfe' , '').replace('\r\n' , '')
#So this works for a specific row but not the whole thing O.o
#Make a loop that runs through all of the rows one by one (since all together doesn't work)

'3900380,27643,ARGOS," ",1510,09/02/2005,11/02/2005,02,2005,-56.47,-58.54," "," ",,0,0,APEX,"Turton, Jon",jon.turton@metoffice.gov.uk,Argo UK,UNITED KINGDOM,0,0,0,0,0,0,0,240,1500,2000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0'

In [8]:
d2 = [d.replace('\0' , '').replace('\xff' , '').replace('\xfe' , '').replace('\r\n' , '') for d in data]
d2[:5]

['WMO,TELECOM,TTYPE,MY_ID,SERIAL_NO,DATE0,NOTIF_DATE,MONTH0,YEAR0,LAT0,LON0,SHIP,CRUISE,DATE_,LAT_,LON_,MODEL,FULL_NAME,EMAIL,PROGRAM,COUNTRY,AGE,AGE_WEIGHT,GTS,PROFILES,DMPROFILES,GTSPRESS,GREYLIST,CYCLE_TIME,DRIFT_PRESS,PROFILE_PRESS,OXYGEN,FLUO,TURBIDITY,RAFOS,CDOM,BEAM,BACKSCATT,DOWNWELL,SST,SSS,PAL,OTHER,ICE_DETECT,ACTIVE,BEACHED,RETIRED',
 '3900380,27643,ARGOS," ",1510,09/02/2005,11/02/2005,02,2005,-56.47,-58.54," "," ",,0,0,APEX,"Turton, Jon",jon.turton@metoffice.gov.uk,Argo UK,UNITED KINGDOM,0,0,0,0,0,0,0,240,1500,2000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0',
 '3900381,27645,ARGOS," ",1511,09/02/2005,11/02/2005,02,2005,-58.78,-58.77," "," ",17/09/2009,-50.7143,33.9768,APEX,"Turton, Jon",jon.turton@metoffice.gov.uk,Argo UK,UNITED KINGDOM,1681.1643,0,1,168,168,2003,0,240,1500,2000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0',
 '3900382,27652,ARGOS," ",1512,09/02/2005,11/02/2005,02,2005,-57.49,-58.9," "," ",,0,0,APEX,"Turton, Jon",jon.turton@metoffice.gov.uk,Argo UK,UNITED KINGDOM,0,0,0,0,0,0,0,240,1500,2000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0',
 '3900399,46233,ARGOS,1201," ",07/02/2005,14/02/2005,02,2005,-25.2461,-25.2369,RONALD BROWN,n/a,01/08/2010,-26.0516,-42.4516,SOLO_W,"Robbins, P. E.",probbins@whoi.edu,Argo WHOI,UNITED STATES,2001.7359,0,1,201,201,1822,1,240,1000,1000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0']

In [5]:
#Latest attempt
df = pd.DataFrame(d2)
type(df)

pandas.core.frame.DataFrame

In [6]:
with open('d2.csv', 'w') as f:
    for row in d2:
        f.write(row + '\n')

df = pd.read_csv('d2.csv')
df

,WMO,TELECOM,TTYPE,MY_ID,SERIAL_NO,DATE0,NOTIF_DATE,MONTH0,YEAR0,LAT0,...,BACKSCATT,DOWNWELL,SST,SSS,PAL,OTHER,ICE_DETECT,ACTIVE,BEACHED,RETIRED
0,6900877,99731,ARGOS,5058,5058,29/06/2014,17/04/2014,6,2014,57.5161,...,0,0,0,0,0,0,0,1,0,0
1,6900876,99730,ARGOS,5057,5057,29/06/2014,17/04/2014,6,2014,56.9983,...,0,0,0,0,0,0,0,1,0,0
2,6902554,139249,ARGOS,OIN14DAR03,OIN14DAR03,23/06/2014,21/05/2014,6,2014,41.0021,...,0,0,0,0,0,0,0,1,0,0
3,6902553,139248,ARGOS,OIN14DAR02,OIN14DAR02,22/06/2014,21/05/2014,6,2014,38.9999,...,0,0,0,0,0,0,0,1,0,0
4,6902552,139247,ARGOS,OIN14DAR01,OIN14DAR01,21/06/2014,21/05/2014,6,2014,37.0001,...,0,0,0,0,0,0,0,1,0,0
5,6901848,300234060257590,IRIDIUM,,OIN14ITARI018,10/04/2014,28/03/2014,4,2014,34.2000,...,0,0,0,0,0,0,0,1,0,0
6,6901847,300234061528180,IRIDIUM,,OIN14ITARI017,10/04/2014,28/03/2014,4,2014,34.2000,...,0,0,0,0,0,0,0,1,0,0
7,6901846,300234061527160,IRIDIUM,,OIN14ITARI016,10/04/2014,28/03/2014,4,2014,35.3000,...,0,0,0,0,0,0,0,1,0,0
8,6901059,36038,ARGOS,172,172,25/07/2011,21/03/2011,7,2011,68.9984,...,0,0,0,0,0,0,0,0,0,0
9,6901058,35978,ARGOS,171,171,25/07/2011,21/03/2011,7,2011,69.0000,...,0,0,0,0,0,0,0,0,0,0
10,6901070,48925,ARGOS,5810,5810,26/07/2011,21/03/2011,7,2011,69.0000,...,0,0,0,0,0,0,0,0,0,0
11,6901069,48918,ARGOS,5809,5809,26/07/2011,21/03/2011,7,2011,69.0010,...,0,0,0,0,0,0,0,0,0,0
12,6901068,48917,ARGOS,5808,5808,24/07/2011,21/03/2011,7,2011,70.9532,...,0,0,0,0,0,0,0,0,0,0
13,6901067,47760,ARGOS,5807,5807,23/07/2011,21/03/2011,7,2011,71.9248,...,0,0,0,0,0,0,0,0,0,0
14,6901087,41139,ARGOS,,5732,01/08/2011,02/08/2011,8,2011,74.9983,...,0,0,0,0,0,0,0,0,0,0
15,6901086,41138,ARGOS,,5731,01/08/2011,02/08/2011,8,2011,74.9981,...,0,0,0,0,0,0,0,0,0,0
16,6900594,85970,ARGOS,74,74,31/03/2009,02/02/2009,3,2009,21.0000,...,0,0,0,0,0,0,0,0,0,0
17,6900593,85969,ARGOS,73,73,30/03/2009,02/02/2009,3,2009,19.0000,...,0,0,0,0,0,0,0,0,0,0
18,6900592,85968,ARGOS,72,72,29/03/2009,02/02/2009,3,2009,16.0000,...,0,0,0,0,0,0,0,0,0,0
19,6900591,85967,ARGOS,71,71,24/03/2009,02/02/2009,3,2009,14.6998,...,0,0,0,0,0,0,0,0,0,0
20,6900590,85966,ARGOS,70,70,23/03/2009,02/02/2009,3,2009,14.7015,...,0,0,0,0,0,0,0,0,0,0
21,6901082,109129,ARGOS,5990,5990,11/07/2012,18/04/2012,7,2012,68.4833,...,0,0,0,0,0,0,0,1,0,0
22,6901081,109128,ARGOS,5979,5979,30/07/2012,18/04/2012,7,2012,75.6550,...,0,0,0,0,0,0,0,1,0,0
23,6901078,109125,ARGOS,6039,6039,12/07/2012,18/04/2012,7,2012,69.4983,...,0,0,0,0,0,0,0,0,0,0
24,6901077,109124,ARGOS,6038,6038,11/07/2012,18/04/2012,7,2012,68.4000,...,0,0,0,0,0,0,0,0,0,0
25,6901079,109126,ARGOS,6040,6040,12/07/2012,18/04/2012,7,2012,69.5000,...,0,0,0,0,0,0,0,0,0,0
26,6901080,109127,ARGOS,6041,6041,30/07/2012,18/04/2012,7,2012,70.6560,...,0,0,0,0,0,0,0,0,0,0
27,6901903,119533,ARGOS,,,04/09/2012,07/08/2012,9,2012,70.0000,...,0,0,0,0,0,0,0,0,0,0
28,6900212,6855,ARGOS,1061,1061,01/01/2005,30/07/2004,1,2005,41.8830,...,0,0,0,0,0,0,0,0,0,0
29,6900246,24473,ARGOS,1552,1552,01/07/2004,30/07/2004,7,2004,46.0000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11695,3900092,10281,ARGOS,,,09/02/2003,11/02/2003,2,2003,-55.4400,...,0,0,0,0,0,0,0,0,0,0
11696,4900238,8387,ARGOS,,,09/02/2003,10/02/2003,2,2003,42.4970,...,0,0,0,0,0,0,0,0,0,0
11697,4900245,8394,ARGOS,,,09/02/2003,10/02/2003,2,2003,41.9950,...,0,0,0,0,0,0,0,0,0,0
11698,4900122,29427,ARGOS,,,08/02/2003,10/02/2003,2,2003,41.4870,...,0,0,0,0,0,0,0,0,0,0
11699,2900497,21970,ARGOS,,1826,16/04/2005,21/04/2005,4,2005,-13.0000,...,0,0,0,0,0,0,0,0,0,0
11700,5900861,53202,ARGOS,,,10/04/2005,20/04/2005,4,2005,-7.9280,...,0,0,0,0,0,0,0,0,0,1
11701,5900860,53203,ARGOS,,,10/04/2005,20/04/2005,4,2005,-9.8850,...,0,0,0,0,0,0,0,0,0,0
11702,5900859,53201,ARGOS,,,09/04/2005,20/04/2005,4,2005,-12.7760,...,0,0,0,0,0,0,0,0,0,0
11703,5900858,53200,ARGOS,,,09/04/2005,20/04/2005,4,2005,-14.7280,...,0,0,0,0,0,0,0,0,0,0
11704,5900857,53199,ARGOS,,,09/04/2005,20/04/2005,4,2005,-16.8160,...,0,0,0,0,0,0,0,0,0,0
11705,5900856,53198,ARGOS,,,09/04/2005,20/04/2005,4,2005,-18.2360,...,0,0,0,0,0,0,0,0,0,0
11706,5900855,53197,ARGOS,,,13/05/2005,20/04/2005,5,2005,-20.5660,...,0,0,0,0,0,0,0,0,0,0
11707,5900854,53196,ARGOS,,,08/04/2005,20/04/2005,4,2005,-22.5580,...,0,0,0,0,0,0,0,0,0,0
11708,7900097,29035,ARGOS,,9,15/03/2005,19/04/2005,3,2005,-63.4907,...,0,0,0,0,0,0,0,0,0,0
11709,7900096,24286,ARGOS,,1849,13/03/2005,19/04/2005,3,2005,-63.7762,...,0,0,0,0,0,0,0,0,0,0
11710,7900094,24172,ARGOS,,1725,12/03/2005,19/04/2005,3,2005,-64.1907,...,0,0,0,0,0,0,0,0,0,0
11711,7900093,29056,ARGOS,,12,08/03/2005,19/04/2005,3,2005,-64.7227,...,0,0,0,0,0,0,0,0,0,0
11712,7900092,24173,ARGOS,,1726,08/03/2005,19/04/2005,3,2005,-65.1670,...,0,0,0,0,0,0,0,0,0,0
11713,7900091,24196,ARGOS,,1731,07/03/2005,19/04/2005,3,2005,-65.5913,...,0,0,0,0,0,0,0,0,0,0
11714,7900090,24197,ARGOS,,1732,04/03/2005,19/04/2005,3,2005,-65.9732,...,0,0,0,0,0,0,0,0,0,0
11715,7900089,24134,ARGOS,,1722,03/03/2005,19/04/2005,3,2005,-66.3567,...,0,0,0,0,0,0,0,0,0,0
11716,5900350,52277,ARGOS,,,14/02/2005,16/02/2005,2,2005,-49.2540,...,0,0,0,0,0,0,0,0,0,0
11717,5900349,52276,ARGOS,,,13/02/2005,16/02/2005,2,2005,-51.2230,...,0,0,0,0,0,0,0,1,0,0
11718,5900348,42874,ARGOS,,,13/02/2005,16/02/2005,2,2005,-53.0970,...,0,0,0,0,0,0,0,0,0,0
11719,5900347,42873,ARGOS,,,12/01/2005,16/02/2005,1,2005,-54.8800,...,0,0,0,0,0,0,0,0,0,0
11720,5900346,42872,ARGOS,,,12/02/2005,16/02/2005,2,2005,-56.5100,...,0,0,0,0,0,0,0,0,0,0
11721,5900339,42871,ARGOS,,,11/02/2005,16/02/2005,2,2005,-58.0000,...,0,0,0,0,0,0,0,0,0,0
11722,3900382,27652,ARGOS,,1512,09/02/2005,11/02/2005,2,2005,-57.4900,...,0,0,0,0,0,0,0,0,0,0
11723,3900381,27645,ARGOS,,1511,09/02/2005,11/02/2005,2,2005,-58.7800,...,0,0,0,0,0,0,0,0,0,0
11724,3900380,27643,ARGOS,,1510,09/02/2005,11/02/2005,2,2005,-56.4700,...,0,0,0,0,0,0,0,0,0,0

In [63]:
#This prints out certain columns (of my choosing) with all the rows still present
fd_oga = df.loc[: , ['WMO' , 'OXYGEN' , 'GREYLIST' , 'AGE' , 'DATE_' , 'LAT_' , 'LON_'] ] # oga = oxygen, grey list, and age
fd_oga

           WMO  OXYGEN  GREYLIST        AGE       DATE_     LAT_      LON_
0      6900877       1         0   381.3470  16/07/2015  60.1843  -22.4563
1      6900876       1         0   381.1445  15/07/2015  59.3546  -11.6446
2      6902554       0         0   382.6879  10/07/2015  36.9802  -26.6489
3      6902553       0         0   392.3854  19/07/2015  35.7544  -27.7932
4      6902552       0         0   392.5143  18/07/2015  34.8368  -18.4200
5      6901848       0         0   443.9896  27/06/2015  34.7260   23.4200
6      6901847       0         0   446.9944  30/06/2015  37.5910   19.8750
7      6901846       0         0   444.9965  28/06/2015  36.1630   16.9910
8      6901059       0         0  1240.6757  17/12/2014  70.7842    7.8411
9      6901058       0         0  1230.5180  07/12/2014  65.8894   -1.4243
10     6901070       0         0  1080.7514  11/07/2014  66.6630   -9.4750
11     6901069       0         0     0.0000  02/06/2011  41.6099  -70.6114
12     6901068       0         0   713.0264  06/07/2013  69.4670   -0.9540
13     6901067       0         0   893.9382  02/01/2014  71.9390    4.3590
14     6901087       0         0   611.1939  03/04/2013  76.9645   -2.0355
15     6901086       0         0   721.0090  22/07/2013  73.0430   -0.3810
16     6900594       0         0   960.0121  16/11/2011  31.6691  -54.5994
17     6900593       0         0   779.8355  19/05/2011  24.0528  -53.9838
18     6900592       0         0   739.9150  08/04/2011  17.8795  -58.8823
19     6900591       0         0   919.7647  30/09/2011  14.9367  -57.8721
20     6900590       0         0   959.7340  08/11/2011  19.8790  -59.1080
21     6901082       0         0  1100.8331  17/07/2015  70.1228    3.0285
22     6901081       0         0  1076.7521  12/07/2015  67.6468   -4.1229
23     6901078       0         0   910.9285  09/01/2015  66.7820  -10.3170
24     6901077       0         0   821.2076  11/10/2014  64.5988    0.1628
25     6901079       0         0   950.8951  18/02/2015  65.4858   -8.1006
26     6901080       0         0   877.0805  24/12/2014  68.8875    3.0880
27     6901903       0         0   626.0794  23/05/2014  74.7559   -8.9339
28     6900212       0         0  2912.9966  22/12/2012  34.2553  -25.5955
29     6900246       0         0  2550.9805  25/06/2011  49.2454  -17.5045
...        ...     ...       ...        ...         ...      ...       ...
11695  3900092       0         0  1220.7233  13/06/2006 -42.9125   70.3984
11696  4900238       0         0  1600.5750  28/06/2007  42.1200 -132.8360
11697  4900245       0         0  1390.3812  30/11/2006  40.5680 -128.3686
11698  4900122       0         0  1330.6293  30/09/2006  33.0131 -123.1488
11699  2900497       0         0  1354.1984  30/12/2008  -9.9591   57.6864
11700  5900861       0         0   250.6609  16/12/2005  -7.0084  106.5417
11701  5900860       0         0  3140.2339  14/11/2013 -18.6715   61.1298
11702  5900859       0         0  2891.0092  09/03/2013 -20.9077   87.7591
11703  5900858       0         0   850.4035  07/08/2007 -11.9800   97.0480
11704  5900857       0         0  2520.4533  03/03/2012 -14.0221  110.4576
11705  5900856       0         0  2990.2273  16/06/2013 -24.9393  110.3079
11706  5900855       0         0   445.6333  01/08/2006 -19.4148  109.9642
11707  5900854       0         0   820.1651  07/07/2007 -24.5236  110.9043
11708  7900097       0         0  1158.7023  16/05/2008 -55.1687  -27.5752
11709  7900096       0         0  1250.4750  14/08/2008 -57.6150  -16.3160
11710  7900094       0         0   289.6264  26/12/2005 -63.6146  -32.2337
11711  7900093       0         0  1360.1763  27/11/2008 -54.7275    3.8244
11712  7900092       0         0    40.4046  17/04/2005 -65.1663  -39.9453
11713  7900091       0         0  1430.2576  04/02/2009 -65.3530  -41.0790
11714  7900090       0         0  1810.8286  16/02/2010 -54.5193   30.5151
11715  7900089       0         0  1390.7083  22/12/2008 -61.6589  -26.0821
11716  5900350       0         0  3440.3097  17/07/2014 -42.7340  119.6260
11717  5900349       0         0  3561.0100  14/11/2014 -65.1015 -106.8017
11718  5900348       0         0  3390.4374  27/05/2014 -43.0091  -15.0776
11719  5900347       0         0   881.9977  12/06/2007 -61.6870  157.8939
11720  5900346       0         0  3130.1958  08/09/2013 -58.1230  -22.3040
11721  5900339       0         0  2781.0015  23/09/2012 -56.0493  -65.4248
11722  3900382       0         0     0.0000         NaN   0.0000    0.0000
11723  3900381       0         0  1681.1643  17/09/2009 -50.7143   33.9768
11724  3900380       0         0     0.0000         NaN   0.0000    0.0000

[11725 rows x 7 columns]

In [64]:
#This takes the fd_oga table and only shows the rows that have oxygen data
fd_oxygen = fd_oga.loc[ fd_oga.loc[: , 'OXYGEN'] == 1 , :]
fd_oxygen

           WMO  OXYGEN  GREYLIST        AGE       DATE_     LAT_      LON_
0      6900877       1         0   381.3470  16/07/2015  60.1843  -22.4563
1      6900876       1         0   381.1445  15/07/2015  59.3546  -11.6446
40     1900943       1         0   317.3993  27/12/2007  20.6700  -31.6260
66     6902546       1         0     0.4931  21/01/2014  64.6896    0.0736
67     6902544       1         0   590.2862  29/06/2015  76.9700   -1.1120
69     6902545       1         0   521.7191  28/06/2015  69.3350    5.0190
70     6902547       1         0   526.0354  02/07/2015  68.2500    9.4520
82     6900799       1         0  1177.4587  20/09/2013  71.1470    5.3780
83     6900798       1         0  1825.5125  01/07/2015  78.5070   -2.2210
84     6900797       1         0   651.5580  13/03/2012  72.4208    8.8289
85     6900796       1         0   965.1496  19/01/2013  65.0640   -1.7090
86     4901043       1         0   816.5604  06/09/2012  26.8190  -86.0130
182    5904218       1         0   108.4839  17/12/2012 -26.7290   98.8720
183    5903955       1         0   116.7419  29/12/2012 -33.6820  105.7420
190    5903264       1         0  1925.7632  28/06/2015 -50.3740 -133.8620
193    5903629       1         0   141.0972  01/02/2011 -43.8970  138.4200
197    5903630       1         0  1086.4904  03/09/2013 -52.6300 -140.8430
199    5903954       1         0  1028.0141  24/06/2015 -24.7600   98.7870
200    5903956       1         0  1027.6858  25/06/2015 -22.9240  109.8260
201    5903957       1         0  1026.8246  26/06/2015 -35.9870   97.4170
202    5903678       1         0   540.4844  10/10/2012 -41.8020  143.7240
203    5903679       1         0  1264.6165  04/10/2014 -40.2250  128.6600
303    5903649       1         0   535.5498  25/06/2012 -44.4990  130.9180
321    5903255       1         0  1951.9146  30/06/2015 -34.7090  155.5310
322    5903256       1         0  1950.2885  29/06/2015 -48.2130 -118.0760
323    5903257       1         0   406.0514  07/04/2011 -44.8240  141.2470
324    5903258       1         0  1949.4803  29/06/2015 -41.5750  109.2350
326    2900127       1         0  1346.9507  19/05/2011 -63.1330  101.7450
333    5903259       1         0  1912.3466  24/05/2015 -52.0040  159.9710
337    5901698       1         0  2380.9721  12/07/2015 -59.3614  -83.6421
...        ...     ...       ...        ...         ...      ...       ...
10454  3901066       1         0   862.7813  05/08/2010 -13.4542  -88.9920
10455  3901065       1         0   658.8184  13/01/2010 -19.7605  -86.8132
10562  6900525       1         0  1471.6001  07/05/2012  20.4772  -33.4057
10563  6900524       1         0   811.5426  15/07/2010   7.7177  -15.2761
10597  4900874       1         0  1680.0583  12/03/2011  42.7600 -129.8120
10599  4900873       1         0  1940.0079  26/11/2011  38.2254 -134.3063
10622  6900346       1         0  1217.5701  23/01/2009  59.2629  -47.2560
10642  3900533       1         0  1713.6208  14/07/2012  -8.4133 -108.2078
10643  3900532       1         0  1733.6131  03/08/2012 -12.1677  -94.3460
10644  3900534       1         0  1813.6348  21/10/2012 -11.5926 -101.4809
10645  3900531       1         0  1342.6556  07/07/2011 -13.8075  -90.7400
10646  2900885       1         0   499.1627  28/03/2009  15.6189   81.5092
10670  4900627       1         0  1740.2301  28/07/2010  38.6635  -64.9262
10686  5900345       1         0   590.1938  25/08/2006 -61.4580  159.6870
10735  7900076       1         0   100.3274  27/05/2005 -67.8270   -3.3283
10743  7900068       1         0   330.6220  22/12/2005 -36.6655   15.6350
11028  4900524       1         0    59.0000  07/08/2004  49.9760 -146.6910
11098  4900611       1         0   799.0699  23/11/2006  48.8085  -46.9049
11099  4900610       1         0   609.3535  21/05/2006  58.1600  -57.7190
11100  4900609       1         0   638.0309  01/06/2006  59.3889  -34.9525
11101  4900608       1         0   854.4625  04/01/2007  44.9520  -22.2130
11102  4900607       1         0   588.6542  17/04/2005  54.1380  -45.5560
11105  4900494       1         0  1521.0406  24/07/2008  56.5062  -52.3539
11230  2900102       1         0   305.0572  12/07/2004   0.7438   57.0129
11456  4900523       1         0  1240.0757  19/01/2008  50.6550 -149.5870
11474  3900281       1         0   370.0829  30/08/2005   2.9604  -33.7719
11480  3900275       1         0  1080.1101  10/08/2007 -11.1491  -15.7608
11481  3900274       1         0   609.6870  29/04/2006  -8.0160  -25.5937
11610  4900497       1         0  1030.1457  26/02/2007  34.7538  -63.6900
11634  4900637       1         0  1640.5049  21/08/2009  45.9560 -128.0490

[764 rows x 7 columns]

In [65]:
#This takes the fd_oga table and only shows the rows that aren't grey listed     #gl = grey list
fd_gl = fd_oga.loc[ fd_oga.loc[: , 'GREYLIST'] == 0 , :] #gl = grey list
fd_gl

           WMO  OXYGEN  GREYLIST        AGE       DATE_     LAT_      LON_
0      6900877       1         0   381.3470  16/07/2015  60.1843  -22.4563
1      6900876       1         0   381.1445  15/07/2015  59.3546  -11.6446
2      6902554       0         0   382.6879  10/07/2015  36.9802  -26.6489
3      6902553       0         0   392.3854  19/07/2015  35.7544  -27.7932
4      6902552       0         0   392.5143  18/07/2015  34.8368  -18.4200
5      6901848       0         0   443.9896  27/06/2015  34.7260   23.4200
6      6901847       0         0   446.9944  30/06/2015  37.5910   19.8750
7      6901846       0         0   444.9965  28/06/2015  36.1630   16.9910
8      6901059       0         0  1240.6757  17/12/2014  70.7842    7.8411
9      6901058       0         0  1230.5180  07/12/2014  65.8894   -1.4243
10     6901070       0         0  1080.7514  11/07/2014  66.6630   -9.4750
11     6901069       0         0     0.0000  02/06/2011  41.6099  -70.6114
12     6901068       0         0   713.0264  06/07/2013  69.4670   -0.9540
13     6901067       0         0   893.9382  02/01/2014  71.9390    4.3590
14     6901087       0         0   611.1939  03/04/2013  76.9645   -2.0355
15     6901086       0         0   721.0090  22/07/2013  73.0430   -0.3810
16     6900594       0         0   960.0121  16/11/2011  31.6691  -54.5994
17     6900593       0         0   779.8355  19/05/2011  24.0528  -53.9838
18     6900592       0         0   739.9150  08/04/2011  17.8795  -58.8823
19     6900591       0         0   919.7647  30/09/2011  14.9367  -57.8721
20     6900590       0         0   959.7340  08/11/2011  19.8790  -59.1080
21     6901082       0         0  1100.8331  17/07/2015  70.1228    3.0285
22     6901081       0         0  1076.7521  12/07/2015  67.6468   -4.1229
23     6901078       0         0   910.9285  09/01/2015  66.7820  -10.3170
24     6901077       0         0   821.2076  11/10/2014  64.5988    0.1628
25     6901079       0         0   950.8951  18/02/2015  65.4858   -8.1006
26     6901080       0         0   877.0805  24/12/2014  68.8875    3.0880
27     6901903       0         0   626.0794  23/05/2014  74.7559   -8.9339
28     6900212       0         0  2912.9966  22/12/2012  34.2553  -25.5955
29     6900246       0         0  2550.9805  25/06/2011  49.2454  -17.5045
...        ...     ...       ...        ...         ...      ...       ...
11695  3900092       0         0  1220.7233  13/06/2006 -42.9125   70.3984
11696  4900238       0         0  1600.5750  28/06/2007  42.1200 -132.8360
11697  4900245       0         0  1390.3812  30/11/2006  40.5680 -128.3686
11698  4900122       0         0  1330.6293  30/09/2006  33.0131 -123.1488
11699  2900497       0         0  1354.1984  30/12/2008  -9.9591   57.6864
11700  5900861       0         0   250.6609  16/12/2005  -7.0084  106.5417
11701  5900860       0         0  3140.2339  14/11/2013 -18.6715   61.1298
11702  5900859       0         0  2891.0092  09/03/2013 -20.9077   87.7591
11703  5900858       0         0   850.4035  07/08/2007 -11.9800   97.0480
11704  5900857       0         0  2520.4533  03/03/2012 -14.0221  110.4576
11705  5900856       0         0  2990.2273  16/06/2013 -24.9393  110.3079
11706  5900855       0         0   445.6333  01/08/2006 -19.4148  109.9642
11707  5900854       0         0   820.1651  07/07/2007 -24.5236  110.9043
11708  7900097       0         0  1158.7023  16/05/2008 -55.1687  -27.5752
11709  7900096       0         0  1250.4750  14/08/2008 -57.6150  -16.3160
11710  7900094       0         0   289.6264  26/12/2005 -63.6146  -32.2337
11711  7900093       0         0  1360.1763  27/11/2008 -54.7275    3.8244
11712  7900092       0         0    40.4046  17/04/2005 -65.1663  -39.9453
11713  7900091       0         0  1430.2576  04/02/2009 -65.3530  -41.0790
11714  7900090       0         0  1810.8286  16/02/2010 -54.5193   30.5151
11715  7900089       0         0  1390.7083  22/12/2008 -61.6589  -26.0821
11716  5900350       0         0  3440.3097  17/07/2014 -42.7340  119.6260
11717  5900349       0         0  3561.0100  14/11/2014 -65.1015 -106.8017
11718  5900348       0         0  3390.4374  27/05/2014 -43.0091  -15.0776
11719  5900347       0         0   881.9977  12/06/2007 -61.6870  157.8939
11720  5900346       0         0  3130.1958  08/09/2013 -58.1230  -22.3040
11721  5900339       0         0  2781.0015  23/09/2012 -56.0493  -65.4248
11722  3900382       0         0     0.0000         NaN   0.0000    0.0000
11723  3900381       0         0  1681.1643  17/09/2009 -50.7143   33.9768
11724  3900380       0         0     0.0000         NaN   0.0000    0.0000

[11171 rows x 7 columns]

In [66]:
#This takes the fd_oga table and only shows the rows that are at least 340 days old
fd_age = fd_oga.loc[ fd_oga.loc[: , 'AGE'] >= 340. , :]
fd_age

           WMO  OXYGEN  GREYLIST        AGE       DATE_     LAT_      LON_
0      6900877       1         0   381.3470  16/07/2015  60.1843  -22.4563
1      6900876       1         0   381.1445  15/07/2015  59.3546  -11.6446
2      6902554       0         0   382.6879  10/07/2015  36.9802  -26.6489
3      6902553       0         0   392.3854  19/07/2015  35.7544  -27.7932
4      6902552       0         0   392.5143  18/07/2015  34.8368  -18.4200
5      6901848       0         0   443.9896  27/06/2015  34.7260   23.4200
6      6901847       0         0   446.9944  30/06/2015  37.5910   19.8750
7      6901846       0         0   444.9965  28/06/2015  36.1630   16.9910
8      6901059       0         0  1240.6757  17/12/2014  70.7842    7.8411
9      6901058       0         0  1230.5180  07/12/2014  65.8894   -1.4243
10     6901070       0         0  1080.7514  11/07/2014  66.6630   -9.4750
12     6901068       0         0   713.0264  06/07/2013  69.4670   -0.9540
13     6901067       0         0   893.9382  02/01/2014  71.9390    4.3590
14     6901087       0         0   611.1939  03/04/2013  76.9645   -2.0355
15     6901086       0         0   721.0090  22/07/2013  73.0430   -0.3810
16     6900594       0         0   960.0121  16/11/2011  31.6691  -54.5994
17     6900593       0         0   779.8355  19/05/2011  24.0528  -53.9838
18     6900592       0         0   739.9150  08/04/2011  17.8795  -58.8823
19     6900591       0         0   919.7647  30/09/2011  14.9367  -57.8721
20     6900590       0         0   959.7340  08/11/2011  19.8790  -59.1080
21     6901082       0         0  1100.8331  17/07/2015  70.1228    3.0285
22     6901081       0         0  1076.7521  12/07/2015  67.6468   -4.1229
23     6901078       0         0   910.9285  09/01/2015  66.7820  -10.3170
24     6901077       0         0   821.2076  11/10/2014  64.5988    0.1628
25     6901079       0         0   950.8951  18/02/2015  65.4858   -8.1006
26     6901080       0         0   877.0805  24/12/2014  68.8875    3.0880
27     6901903       0         0   626.0794  23/05/2014  74.7559   -8.9339
28     6900212       0         0  2912.9966  22/12/2012  34.2553  -25.5955
29     6900246       0         0  2550.9805  25/06/2011  49.2454  -17.5045
30     6900250       0         0  2970.5950  20/08/2012  39.3439  -26.7663
...        ...     ...       ...        ...         ...      ...       ...
11687  3900068       0         0  2079.1868  03/10/2008  -2.6267  -88.9987
11689  1900141       0         0  1001.3364  11/11/2005   6.0515  -11.2673
11691  1900138       0         0   491.2008  17/06/2004   3.7948   -9.8848
11693  5900039       0         0  3160.8963  18/09/2011 -38.8984  121.0688
11694  5900038       0         0  3760.2168  11/05/2013 -32.3590  107.5151
11695  3900092       0         0  1220.7233  13/06/2006 -42.9125   70.3984
11696  4900238       0         0  1600.5750  28/06/2007  42.1200 -132.8360
11697  4900245       0         0  1390.3812  30/11/2006  40.5680 -128.3686
11698  4900122       0         0  1330.6293  30/09/2006  33.0131 -123.1488
11699  2900497       0         0  1354.1984  30/12/2008  -9.9591   57.6864
11701  5900860       0         0  3140.2339  14/11/2013 -18.6715   61.1298
11702  5900859       0         0  2891.0092  09/03/2013 -20.9077   87.7591
11703  5900858       0         0   850.4035  07/08/2007 -11.9800   97.0480
11704  5900857       0         0  2520.4533  03/03/2012 -14.0221  110.4576
11705  5900856       0         0  2990.2273  16/06/2013 -24.9393  110.3079
11706  5900855       0         0   445.6333  01/08/2006 -19.4148  109.9642
11707  5900854       0         0   820.1651  07/07/2007 -24.5236  110.9043
11708  7900097       0         0  1158.7023  16/05/2008 -55.1687  -27.5752
11709  7900096       0         0  1250.4750  14/08/2008 -57.6150  -16.3160
11711  7900093       0         0  1360.1763  27/11/2008 -54.7275    3.8244
11713  7900091       0         0  1430.2576  04/02/2009 -65.3530  -41.0790
11714  7900090       0         0  1810.8286  16/02/2010 -54.5193   30.5151
11715  7900089       0         0  1390.7083  22/12/2008 -61.6589  -26.0821
11716  5900350       0         0  3440.3097  17/07/2014 -42.7340  119.6260
11717  5900349       0         0  3561.0100  14/11/2014 -65.1015 -106.8017
11718  5900348       0         0  3390.4374  27/05/2014 -43.0091  -15.0776
11719  5900347       0         0   881.9977  12/06/2007 -61.6870  157.8939
11720  5900346       0         0  3130.1958  08/09/2013 -58.1230  -22.3040
11721  5900339       0         0  2781.0015  23/09/2012 -56.0493  -65.4248
11723  3900381       0         0  1681.1643  17/09/2009 -50.7143   33.9768

[9397 rows x 7 columns]

In [67]:
#Merging the fd_oxygen table with the fd_gl table
fd_merge_og = pd.merge(fd_oxygen , fd_gl) #og = oxygen and grey list
fd_merge_og

         WMO  OXYGEN  GREYLIST        AGE       DATE_     LAT_      LON_
0    6900877       1         0   381.3470  16/07/2015  60.1843  -22.4563
1    6900876       1         0   381.1445  15/07/2015  59.3546  -11.6446
2    1900943       1         0   317.3993  27/12/2007  20.6700  -31.6260
3    6902546       1         0     0.4931  21/01/2014  64.6896    0.0736
4    6902544       1         0   590.2862  29/06/2015  76.9700   -1.1120
5    6902545       1         0   521.7191  28/06/2015  69.3350    5.0190
6    6902547       1         0   526.0354  02/07/2015  68.2500    9.4520
7    6900799       1         0  1177.4587  20/09/2013  71.1470    5.3780
8    6900798       1         0  1825.5125  01/07/2015  78.5070   -2.2210
9    6900797       1         0   651.5580  13/03/2012  72.4208    8.8289
10   6900796       1         0   965.1496  19/01/2013  65.0640   -1.7090
11   4901043       1         0   816.5604  06/09/2012  26.8190  -86.0130
12   5904218       1         0   108.4839  17/12/2012 -26.7290   98.8720
13   5903955       1         0   116.7419  29/12/2012 -33.6820  105.7420
14   5903264       1         0  1925.7632  28/06/2015 -50.3740 -133.8620
15   5903629       1         0   141.0972  01/02/2011 -43.8970  138.4200
16   5903630       1         0  1086.4904  03/09/2013 -52.6300 -140.8430
17   5903954       1         0  1028.0141  24/06/2015 -24.7600   98.7870
18   5903956       1         0  1027.6858  25/06/2015 -22.9240  109.8260
19   5903957       1         0  1026.8246  26/06/2015 -35.9870   97.4170
20   5903678       1         0   540.4844  10/10/2012 -41.8020  143.7240
21   5903679       1         0  1264.6165  04/10/2014 -40.2250  128.6600
22   5903649       1         0   535.5498  25/06/2012 -44.4990  130.9180
23   5903255       1         0  1951.9146  30/06/2015 -34.7090  155.5310
24   5903256       1         0  1950.2885  29/06/2015 -48.2130 -118.0760
25   5903257       1         0   406.0514  07/04/2011 -44.8240  141.2470
26   5903258       1         0  1949.4803  29/06/2015 -41.5750  109.2350
27   2900127       1         0  1346.9507  19/05/2011 -63.1330  101.7450
28   5903259       1         0  1912.3466  24/05/2015 -52.0040  159.9710
29   5901698       1         0  2380.9721  12/07/2015 -59.3614  -83.6421
..       ...     ...       ...        ...         ...      ...       ...
727  3901066       1         0   862.7813  05/08/2010 -13.4542  -88.9920
728  3901065       1         0   658.8184  13/01/2010 -19.7605  -86.8132
729  6900525       1         0  1471.6001  07/05/2012  20.4772  -33.4057
730  6900524       1         0   811.5426  15/07/2010   7.7177  -15.2761
731  4900874       1         0  1680.0583  12/03/2011  42.7600 -129.8120
732  4900873       1         0  1940.0079  26/11/2011  38.2254 -134.3063
733  6900346       1         0  1217.5701  23/01/2009  59.2629  -47.2560
734  3900533       1         0  1713.6208  14/07/2012  -8.4133 -108.2078
735  3900532       1         0  1733.6131  03/08/2012 -12.1677  -94.3460
736  3900534       1         0  1813.6348  21/10/2012 -11.5926 -101.4809
737  3900531       1         0  1342.6556  07/07/2011 -13.8075  -90.7400
738  2900885       1         0   499.1627  28/03/2009  15.6189   81.5092
739  4900627       1         0  1740.2301  28/07/2010  38.6635  -64.9262
740  5900345       1         0   590.1938  25/08/2006 -61.4580  159.6870
741  7900076       1         0   100.3274  27/05/2005 -67.8270   -3.3283
742  7900068       1         0   330.6220  22/12/2005 -36.6655   15.6350
743  4900524       1         0    59.0000  07/08/2004  49.9760 -146.6910
744  4900611       1         0   799.0699  23/11/2006  48.8085  -46.9049
745  4900610       1         0   609.3535  21/05/2006  58.1600  -57.7190
746  4900609       1         0   638.0309  01/06/2006  59.3889  -34.9525
747  4900608       1         0   854.4625  04/01/2007  44.9520  -22.2130
748  4900607       1         0   588.6542  17/04/2005  54.1380  -45.5560
749  4900494       1         0  1521.0406  24/07/2008  56.5062  -52.3539
750  2900102       1         0   305.0572  12/07/2004   0.7438   57.0129
751  4900523       1         0  1240.0757  19/01/2008  50.6550 -149.5870
752  3900281       1         0   370.0829  30/08/2005   2.9604  -33.7719
753  3900275       1         0  1080.1101  10/08/2007 -11.1491  -15.7608
754  3900274       1         0   609.6870  29/04/2006  -8.0160  -25.5937
755  4900497       1         0  1030.1457  26/02/2007  34.7538  -63.6900
756  4900637       1         0  1640.5049  21/08/2009  45.9560 -128.0490

[757 rows x 7 columns]

In [68]:
#Later work will go off of this table

#FINALLY HAVE ONLY THE DATA I DESIRE
#PRAISE HELIX
#After all the trial and error (=^.^=)

fd_merge_oga = pd.merge(fd_merge_og , fd_age)
fd_merge_oga
#Merged the fd_merge_og table with the fd_age table

#Inactive -> active = 0

         WMO  OXYGEN  GREYLIST        AGE       DATE_     LAT_      LON_
0    6900877       1         0   381.3470  16/07/2015  60.1843  -22.4563
1    6900876       1         0   381.1445  15/07/2015  59.3546  -11.6446
2    6902544       1         0   590.2862  29/06/2015  76.9700   -1.1120
3    6902545       1         0   521.7191  28/06/2015  69.3350    5.0190
4    6902547       1         0   526.0354  02/07/2015  68.2500    9.4520
5    6900799       1         0  1177.4587  20/09/2013  71.1470    5.3780
6    6900798       1         0  1825.5125  01/07/2015  78.5070   -2.2210
7    6900797       1         0   651.5580  13/03/2012  72.4208    8.8289
8    6900796       1         0   965.1496  19/01/2013  65.0640   -1.7090
9    4901043       1         0   816.5604  06/09/2012  26.8190  -86.0130
10   5903264       1         0  1925.7632  28/06/2015 -50.3740 -133.8620
11   5903630       1         0  1086.4904  03/09/2013 -52.6300 -140.8430
12   5903954       1         0  1028.0141  24/06/2015 -24.7600   98.7870
13   5903956       1         0  1027.6858  25/06/2015 -22.9240  109.8260
14   5903957       1         0  1026.8246  26/06/2015 -35.9870   97.4170
15   5903678       1         0   540.4844  10/10/2012 -41.8020  143.7240
16   5903679       1         0  1264.6165  04/10/2014 -40.2250  128.6600
17   5903649       1         0   535.5498  25/06/2012 -44.4990  130.9180
18   5903255       1         0  1951.9146  30/06/2015 -34.7090  155.5310
19   5903256       1         0  1950.2885  29/06/2015 -48.2130 -118.0760
20   5903257       1         0   406.0514  07/04/2011 -44.8240  141.2470
21   5903258       1         0  1949.4803  29/06/2015 -41.5750  109.2350
22   2900127       1         0  1346.9507  19/05/2011 -63.1330  101.7450
23   5903259       1         0  1912.3466  24/05/2015 -52.0040  159.9710
24   5901698       1         0  2380.9721  12/07/2015 -59.3614  -83.6421
25   5901697       1         0  2381.1883  11/07/2015 -36.3289  105.2044
26   5901696       1         0  1251.3740  05/06/2012 -34.8936  116.1127
27   2900129       1         0  1574.6369  16/01/2012 -65.1080   84.8750
28   2900128       1         0  1578.2997  21/01/2012 -63.3800   94.5250
29   2900126       1         0  1667.1901  30/04/2012 -64.9820   47.3420
..       ...     ...       ...        ...         ...      ...       ...
524  3900516       1         0   955.7624  07/06/2008 -10.8769  -88.8677
525  3900515       1         0  1385.6792  07/08/2009 -12.7429  -87.0060
526  3901068       1         0   892.7028  04/09/2010 -10.0695 -103.3199
527  3901067       1         0   964.4083  15/11/2010 -17.2180  -97.6600
528  3901066       1         0   862.7813  05/08/2010 -13.4542  -88.9920
529  3901065       1         0   658.8184  13/01/2010 -19.7605  -86.8132
530  6900525       1         0  1471.6001  07/05/2012  20.4772  -33.4057
531  6900524       1         0   811.5426  15/07/2010   7.7177  -15.2761
532  4900874       1         0  1680.0583  12/03/2011  42.7600 -129.8120
533  4900873       1         0  1940.0079  26/11/2011  38.2254 -134.3063
534  6900346       1         0  1217.5701  23/01/2009  59.2629  -47.2560
535  3900533       1         0  1713.6208  14/07/2012  -8.4133 -108.2078
536  3900532       1         0  1733.6131  03/08/2012 -12.1677  -94.3460
537  3900534       1         0  1813.6348  21/10/2012 -11.5926 -101.4809
538  3900531       1         0  1342.6556  07/07/2011 -13.8075  -90.7400
539  2900885       1         0   499.1627  28/03/2009  15.6189   81.5092
540  4900627       1         0  1740.2301  28/07/2010  38.6635  -64.9262
541  5900345       1         0   590.1938  25/08/2006 -61.4580  159.6870
542  4900611       1         0   799.0699  23/11/2006  48.8085  -46.9049
543  4900610       1         0   609.3535  21/05/2006  58.1600  -57.7190
544  4900609       1         0   638.0309  01/06/2006  59.3889  -34.9525
545  4900608       1         0   854.4625  04/01/2007  44.9520  -22.2130
546  4900607       1         0   588.6542  17/04/2005  54.1380  -45.5560
547  4900494       1         0  1521.0406  24/07/2008  56.5062  -52.3539
548  4900523       1         0  1240.0757  19/01/2008  50.6550 -149.5870
549  3900281       1         0   370.0829  30/08/2005   2.9604  -33.7719
550  3900275       1         0  1080.1101  10/08/2007 -11.1491  -15.7608
551  3900274       1         0   609.6870  29/04/2006  -8.0160  -25.5937
552  4900497       1         0  1030.1457  26/02/2007  34.7538  -63.6900
553  4900637       1         0  1640.5049  21/08/2009  45.9560 -128.0490

[554 rows x 7 columns]

In [69]:
#May or may not even need this
gd = open('argo_global_meta.txt') #gd = global data
 
gd_table = pd.read_csv(gd , comment = '#')
gd_table
#Now to get it so when a user inputs a float number, the DAC of that number shows up

,file,profiler_type,institution,date_update
0,aoml/13857/13857_meta.nc,845,AO,20120521144513
1,aoml/13858/13858_meta.nc,845,AO,20130222100319
2,aoml/13859/13859_meta.nc,845,AO,20120521144513
3,aoml/15819/15819_meta.nc,845,AO,20120521144513
4,aoml/15820/15820_meta.nc,845,AO,20120521144513
5,aoml/15851/15851_meta.nc,845,AO,20130222100329
6,aoml/15852/15852_meta.nc,845,AO,20120521144512
7,aoml/15853/15853_meta.nc,845,AO,20120521144512
8,aoml/15854/15854_meta.nc,845,AO,20120521144512
9,aoml/15855/15855_meta.nc,845,AO,20120521144512
10,aoml/1900022/1900022_meta.nc,851,AO,20120521144500
11,aoml/1900033/1900033_meta.nc,851,AO,20130222100446
12,aoml/1900034/1900034_meta.nc,851,AO,20120521144504
13,aoml/1900035/1900035_meta.nc,851,AO,20130222100444
14,aoml/1900036/1900036_meta.nc,851,AO,20120521144502
15,aoml/1900037/1900037_meta.nc,851,AO,20120521144503
16,aoml/1900038/1900038_meta.nc,851,AO,20130222100255
17,aoml/1900039/1900039_meta.nc,851,AO,20120521144503
18,aoml/1900040/1900040_meta.nc,851,AO,20120521144503
19,aoml/1900041/1900041_meta.nc,851,AO,20120521144459
20,aoml/1900042/1900042_meta.nc,846,AO,20130222100326
21,aoml/1900043/1900043_meta.nc,846,AO,20130222100403
22,aoml/1900044/1900044_meta.nc,846,AO,20120521144449
23,aoml/1900045/1900045_meta.nc,846,AO,20130222100236
24,aoml/1900046/1900046_meta.nc,846,AO,20130803100523
25,aoml/1900047/1900047_meta.nc,846,AO,20120521144450
26,aoml/1900048/1900048_meta.nc,846,AO,20120521144450
27,aoml/1900049/1900049_meta.nc,846,AO,20060911104533
28,aoml/1900050/1900050_meta.nc,846,AO,20130803100308
29,aoml/1900051/1900051_meta.nc,846,AO,20130222100410
...,...,...,...,...
11585,meds/4901762/4901762_meta.nc,999,ME,20140825130132
11586,meds/4901768/4901768_meta.nc,999,ME,20140902090106
11587,meds/4901778/4901778_meta.nc,865,ME,20150501141706
11588,meds/4901798/4901798_meta.nc,865,ME,20150504161043
11589,meds/4901799/4901799_meta.nc,865,ME,20150424171114
11590,meds/4901800/4901800_meta.nc,865,ME,20150504121137
11591,meds/4901780/4901780_meta.nc,865,ME,20150524161041
11592,meds/4901782/4901782_meta.nc,865,ME,20150519051042
11593,meds/4901779/4901779_meta.nc,865,ME,20150524151038
11594,meds/4901781/4901781_meta.nc,865,ME,20150519171045
11595,meds/4901783/4901783_meta.nc,865,ME,20150524121045
11596,nmdis/2901615/2901615_meta.nc,841,NM,20130531193442
11597,nmdis/2901631/2901631_meta.nc,841,NM,20130617181802
11598,nmdis/2901633/2901633_meta.nc,841,NM,20130617181800
11599,nmdis/2901632/2901632_meta.nc,841,NM,20130617181735
11600,nmdis/2901616/2901616_meta.nc,841,NM,20150511172934
11601,nmdis/2901617/2901617_meta.nc,841,NM,20150511174109
11602,nmdis/2901618/2901618_meta.nc,841,NM,20150511173031
11603,nmdis/2901619/2901619_meta.nc,841,NM,20150511173044
11604,nmdis/2901620/2901620_meta.nc,841,NM,20150511173247
11605,nmdis/2901621/2901621_meta.nc,841,NM,20150511173323
11606,nmdis/2901622/2901622_meta.nc,841,NM,20150511173215
11607,nmdis/2901623/2901623_meta.nc,841,NM,20150511173332
11608,nmdis/2901624/2901624_meta.nc,841,NM,20150511173620
11609,nmdis/2901625/2901625_meta.nc,841,NM,20150511173637
11610,nmdis/2901626/2901626_meta.nc,841,NM,20150511173706
11611,nmdis/2901627/2901627_meta.nc,841,NM,20150511173837
11612,nmdis/2901628/2901628_meta.nc,841,NM,20150511174027
11613,nmdis/2901629/2901629_meta.nc,841,NM,20150511174056
11614,nmdis/2901630/2901630_meta.nc,841,NM,20150511174105

In [70]:
#Now to read it into pandas :DDD
#Thank you Based Mike ;)

In [71]:
#idea

# 20150708 H1553

#to have the program look for the specific DAC off of the Grey list file name
#Have the program unconcatenate it in a sense where you keep the first part (the DAC location) and delete the rest
#Then have the program associate that location with the specific float ID
#Hell yeah nig B)

In [4]:
a = 'abc'
b = a - 'bc'
b

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [5]:
a = 'abc'
b = a + 'bc'
b

'abcbc'

In [6]:
#So you can concatenate but not unconcatenate? Great....

In [21]:
c = Crawl("http://thredds.aodn.org.au/thredds/catalog/IMOS/Argo/dac/coriolis/6900877/profiles/catalog.xml")

In [22]:
c.datasets

[<LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_075.nc, name: R6900877_075.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_074.nc, name: R6900877_074.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_073.nc, name: R6900877_073.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_072.nc, name: R6900877_072.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_071.nc, name: R6900877_071.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_070.nc, name: R6900877_070.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_069.nc, name: R6900877_069.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_068.nc, name: R6900877_068.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_067.nc, name: R6900877_067.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_066.nc, name: R6900877_066.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_065.nc, name: R6900877_065.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_064.nc, name: R6900877_064.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_063.nc, name: R6900877_063.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_062.nc, name: R6900877_062.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_061.nc, name: R6900877_061.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_060.nc, name: R6900877_060.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_059.nc, name: R6900877_059.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_058.nc, name: R6900877_058.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_057.nc, name: R6900877_057.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_056.nc, name: R6900877_056.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_055.nc, name: R6900877_055.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_054.nc, name: R6900877_054.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_053.nc, name: R6900877_053.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_052.nc, name: R6900877_052.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_051.nc, name: R6900877_051.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_050.nc, name: R6900877_050.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_049.nc, name: R6900877_049.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_048.nc, name: R6900877_048.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_047.nc, name: R6900877_047.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_046.nc, name: R6900877_046.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_045.nc, name: R6900877_045.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_044.nc, name: R6900877_044.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_043.nc, name: R6900877_043.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_042.nc, name: R6900877_042.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_041.nc, name: R6900877_041.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_040.nc, name: R6900877_040.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_039.nc, name: R6900877_039.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_038.nc, name: R6900877_038.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_037.nc, name: R6900877_037.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_036.nc, name: R6900877_036.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_035.nc, name: R6900877_035.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_034.nc, name: R6900877_034.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_033.nc, name: R6900877_033.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_032.nc, name: R6900877_032.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_031.nc, name: R6900877_031.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_030.nc, name: R6900877_030.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_029.nc, name: R6900877_029.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_028.nc, name: R6900877_028.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_027.nc, name: R6900877_027.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_026.nc, name: R6900877_026.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_025.nc, name: R6900877_025.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_024.nc, name: R6900877_024.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_023.nc, name: R6900877_023.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_022.nc, name: R6900877_022.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_021.nc, name: R6900877_021.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_020.nc, name: R6900877_020.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_019.nc, name: R6900877_019.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_018.nc, name: R6900877_018.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_017.nc, name: R6900877_017.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_016.nc, name: R6900877_016.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_015.nc, name: R6900877_015.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_014.nc, name: R6900877_014.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_013.nc, name: R6900877_013.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_012.nc, name: R6900877_012.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_011.nc, name: R6900877_011.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_010.nc, name: R6900877_010.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_009.nc, name: R6900877_009.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_008.nc, name: R6900877_008.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_007.nc, name: R6900877_007.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_006.nc, name: R6900877_006.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_005.nc, name: R6900877_005.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_004.nc, name: R6900877_004.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_003.nc, name: R6900877_003.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_002.nc, name: R6900877_002.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>,
 <LeafDataset id: IMOS/Argo/dac/coriolis/6900877/profiles/R6900877_001.nc, name: R6900877_001.nc, services: ['OPENDAP', 'HTTPServer', 'WMS']>]

In [52]:
from thredds_crawler.crawl import Crawl
c = Crawl("http://thredds.aodn.org.au/thredds/catalog/IMOS/Argo/dac/coriolis/1900650/profiles/catalog.xml")
urls = [s.get("url") for d in c.datasets for s in d.services if s.get("service").lower() == "opendap"]
print urls

['http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_137.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_135.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_134.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_133.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_132.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_131.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_130.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_129.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_128.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_127.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_126.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_125.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_124.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_123.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_122.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_121.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_120.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_119.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_118.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_117.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_116.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_115.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_114.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_113.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_112.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_111.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_109.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_108.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_107.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_106.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_105.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_104.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_103.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_102.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_101.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_100.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_099.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_097.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_096.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_095.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_094.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_093.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_092.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_091.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_090.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_089.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_088.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_087.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_086.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_085.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_084.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_083.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_082.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_081.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_080.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_079.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_078.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_076.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_075.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_074.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_073.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_072.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_071.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_070.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_069.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_068.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_067.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_066.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_065.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_064.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_063.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_062.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_061.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_060.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_059.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_058.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_057.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_056.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_055.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_053.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_052.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_051.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_050.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_049.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_048.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_047.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_046.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_045.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_043.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_042.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_041.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_040.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_039.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_038.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_037.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_035.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_034.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_033.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_032.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_031.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_030.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_029.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_028.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_027.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_026.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_025.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_024.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_023.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_022.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_021.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_020.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_019.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_018.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_017.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_016.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_015.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_014.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_013.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_012.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_011.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_010.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_009.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_008.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_007.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_006.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_005.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_004.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_003.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_002.nc', 'http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_001.nc']

In [53]:
abcdefg = Dataset("http://thredds.aodn.org.au/thredds/dodsC/IMOS/Argo/dac/coriolis/1900650/profiles/D1900650_137.nc")

In [54]:
for v in abcdefg.variables:
    print(v)

DATA_TYPE
FORMAT_VERSION
HANDBOOK_VERSION
REFERENCE_DATE_TIME
PLATFORM_NUMBER
PROJECT_NAME
PI_NAME
STATION_PARAMETERS
CYCLE_NUMBER
DIRECTION
DATA_CENTRE
DATE_CREATION
DATE_UPDATE
DC_REFERENCE
DATA_STATE_INDICATOR
DATA_MODE
INST_REFERENCE
WMO_INST_TYPE
JULD
JULD_QC
JULD_LOCATION
LATITUDE
LONGITUDE
POSITION_QC
POSITIONING_SYSTEM
PROFILE_PRES_QC
PROFILE_TEMP_QC
PROFILE_PSAL_QC
PROFILE_DOXY_QC
PROFILE_TEMP_DOXY_QC
PRES
PRES_QC
PRES_ADJUSTED
PRES_ADJUSTED_QC
PRES_ADJUSTED_ERROR
TEMP
TEMP_QC
TEMP_ADJUSTED
TEMP_ADJUSTED_QC
TEMP_ADJUSTED_ERROR
PSAL
PSAL_QC
PSAL_ADJUSTED
PSAL_ADJUSTED_QC
PSAL_ADJUSTED_ERROR
DOXY
DOXY_QC
DOXY_ADJUSTED
DOXY_ADJUSTED_QC
DOXY_ADJUSTED_ERROR
TEMP_DOXY
TEMP_DOXY_QC
TEMP_DOXY_ADJUSTED
TEMP_DOXY_ADJUSTED_QC
TEMP_DOXY_ADJUSTED_ERROR
PARAMETER
SCIENTIFIC_CALIB_EQUATION
SCIENTIFIC_CALIB_COEFFICIENT
SCIENTIFIC_CALIB_COMMENT
CALIBRATION_DATE
HISTORY_INSTITUTION
HISTORY_STEP
HISTORY_SOFTWARE
HISTORY_SOFTWARE_RELEASE
HISTORY_REFERENCE
HISTORY_DATE
HISTORY_ACTION
HISTORY_PARAMETER
HISTORY_START_PRES
HISTORY_STOP_PRES
HISTORY_PREVIOUS_VALUE
HISTORY_QCTEST

In [58]:
abcdefg.variables['DOXY_ADJUSTED'][:]

array([[ 206.49000549,  206.38000488,  206.30000305,  206.8500061 ,
         206.86000061,  211.50999451,  218.30999756,  232.38000488,
         216.80000305,  190.08000183,  164.44999695,  126.55000305,
         104.45999908,   99.66000366,   97.80999756,   97.76000214,
          96.22000122,  101.37999725,  103.04000092,  102.47000122,
         100.73000336,   95.27999878,   96.        ,   98.54000092,
          96.81999969,   94.47000122,   82.45999908,   79.83999634,
          77.87999725,   71.45999908,   68.62999725,   67.12999725,
          64.98999786,   63.97000122,   63.99000168,   63.24000168,
          62.09999847,   59.84999847,   58.36000061,   57.38000107,
          57.84999847,   58.97000122,   57.09999847,   55.18000031,
          55.47999954,   57.13000107,   57.47000122,   58.54999924,
          57.99000168,   60.95000076,   61.16999817,   61.95999908,
          62.93999863,   66.37000275,   69.12000275,   72.5       ,
          79.83999634,   90.61000061,  104.83999634,  119.55000305,
         129.27999878,  144.25999451,  158.        ,  174.91000366,
         184.69999695,  196.36999512,  203.24000549,  209.92999268,
         212.88999939,  216.71000671]], dtype=float32)

In [56]:
abcdefg.variables['LATITUDE'][:]

array([ 6.031])

In [59]:
np.average(abcdefg.variables['DOXY_ADJUSTED'][:])

113.06773

In [73]:
print fd_merge_oga.values

[['6900877' 1L 0L ..., '16/07/2015' 60.1843 -22.4563]
 ['6900876' 1L 0L ..., '15/07/2015' 59.3546 -11.6446]
 ['6902544' 1L 0L ..., '29/06/2015' 76.97 -1.112]
 ...,
 ['3900274' 1L 0L ..., '29/04/2006' -8.016 -25.5937]
 ['4900497' 1L 0L ..., '26/02/2007' 34.7538 -63.69]
 ['4900637' 1L 0L ..., '21/08/2009' 45.956 -128.049]]